@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a, 
a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none!important;
	outline: none;
}

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

}

header 	{
	background: url(../../assets/img/header.jpg) no-repeat center center/cover;
	height: 850px;
}

.logo {
	margin-top: 40px;
}
.logo img {
	width: 50%;
}
nav ul li {
	display: inline-block;
	margin: 60px 10px;
}
nav {
	text-align: right;
}
nav ul li a {
	color: white;
	transition: 0.3s;
}
nav ul li a:hover {
	color: #4ba9ff
}
header h1 {
	font-size: 90px;
	font-weight: 300;
	color: white;
	text-align: center;
	margin-top:200px;

}
header h1 > span {
	color: #4ba9ff;

}
.about {
	padding: 100px 0;

}
.about h2 {
	font-size:48px;
	font-weight: 300;
	color: #40485a;
}
.about hr {
	border: 2px solid #4923a7;
	width: 80px;
	margin-top: 30px;
}
.about p {
	font-size: 18px;
	color: #6a707d;
	line-height: 30px;
}
.photos img {
	width: 100%
}

.pading-0 {
	padding: 0!important;
}

.servises {
	margin-bottom: 50px;
	padding: 100px 0 80px 0;
}

.servises h2 {
	margin-top: 50px;
	font-weight: 300; 
	font-size: 48px;
	text-align: center;
	color: #40485a;
}
#service{
	margin-top: 50px;
}

.servises hr {
	border: 2px solid #4923a7;
	width: 80px;
	margin: 40px auto 65px 50px;
}
.item {
	text-align: center;
	padding:50px 55px 60px;
	transition: 0.5s;
	margin: bottom 40px;
}

.item:hover {
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2)
}
.item img {
	width: 80%
}
.item h3 {
	font-size: 18px;
	font-weight: bold;
	color: #40485a;
	margin: 40px 0 20px 0;
	text-transform: uppercase;
}

.item p {
	font-size: 18px;
	color: #6a707d;
	line-height: 25px;
}

.servises a {
	font-weight: 500;
	font-size: 18px;
	color: #4ca9ff;
	text-transform: uppercase;
	border-bottom:2px solid #4ca9ff; 

}
/*Section - Payments*/
.payments {
	padding: 90px 0 50px;
	background:#3921a0;
}
.payments h2 {
	font-size: 62px;
	color: white;
	font-weight: 300;
}
.payments h2 >span {
	color:#4ca9ff;
}
.payments p {
	color: #cfd2ff;
	font-size: 18px;
	margin-bottom: 70px;
	line-height: 25px;
}
	




.payments a {
	font-size:18px;
	color: white;
	font-weight: bold;
	text-align:center;
	text-transform: uppercase;
	padding: 15px 30px;
	background:#4ca8ff;
	border-radius: 25px;
	transition: 0.3s;
}

.payments a:hover {
	box-shadow: 0px 10px 30px 0px rgba(255,255,255,0,5);+

}
.payments img{
	width: 80%;
	border-radius: 5px;
	float: right;
}

.login {
	 margin: 20px 0 85px;
}
.sites {
	border-top: 2px solid rgba(255,255,255,0.5);
	padding-left:0 ;
	transition: 0.3s;

}
.sites:hover{
	border-top: 2px solid rgba(255,255,255,1);
}
.footer{
	background-color: black;
	padding: 50px;

}
.sitemap{
	float: left;
	width: 50%;
	padding: 50 px;
	margin: 25px;

}.forma{
	float: right;
	width: 40%;
    background-color: #1d2329;
    padding: 10px;
    color: #007bff;
}


.forma input[type=text], select, textarea {
  width: 100%; 
  padding: 5px; 
  margin-bottom: 2px;
  background-color: rgba(252, 252, 252, 0.8);
  border: 1px solid #fff;
  border-radius: 2px; 
  box-sizing: border-box;
  margin-top: 2px;
  resize: vertical;
  color: #007bff;
}

.forma input[type=submit] {
  background-color: #4ca8ff;
  color: #fff;
  margin-bottom: 0rem;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.forma input[type=submit]:hover {
  background-color: #007bff;
  color: #fff;
}


.footer2{
	background-color: black;
	padding: 50px 0 100px 50px;
	color: grey;

}
.footer h3 {
	color:#626f79;
}
